<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Niveau 1</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/levelLogin.css' %}">

</head>
  <body>
    <div class="note">
        <label class="noteLabel">
            Mot de passe : <br/>
            01234
        </label>
    </div>

  <div class="textZone">
    <div class="MEP1">
        <input type="text"  id="username" name="username" required placeholder="Nom d'utilisateur">
    </div>
  <div class="MEP2">
        <input type="password" id="password" name="password" required placeholder="Mot de passe">
    </div>
  </div>
  </body>
</html>